@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200;400;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins';
}

.scroll_wrapper {
    overflow-x: hidden;
    position: relative;
}
* {
    box-sizing: border-box;
}

.scroll_container {
    display: flex;
    width: 500vw;
    overflow: hidden;
    background: rgb(30,50,82);
    background: linear-gradient(315deg, rgb(10, 11, 16) 20%, rgba(10,16,32,1) 100%);
    color: white;
}

.section {
    height: 100vh;
}

.top::before{
    content: '';
    position: absolute;
    background-color: white;
    opacity: 15%;
    width: 1px;
    height: 50%;
    top: 25%;
    left: -200px;
}

.top::after{
    content: '';
    position: absolute;
    background-color: white;
    opacity: 15%;
    width: 1px;
    height: 50%;
    top: 25%;
    right: -200px;
}

.title-features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-features h1{
    text-align: center;
    font-family: 'Monument-Bold';
    font-size: 10rem;
    letter-spacing: 1.5rem;
    white-space: nowrap;
    margin: 0px 160px;
}

.top{
    margin: 0px 200px;
    position: relative;
    top: 0px;
}



.top h1{
    font-family: 'High-Tech 2 Bold';
    letter-spacing: 4px;
    word-spacing: 10px;
    margin: 12.5px 0px;    
}

.top p{
    font-family: 'High-Tech Thin';
    font-size: 15px;
    text-align: justify;
    letter-spacing: 2px;
    margin: 15px 0px 30px 0px;
    width: 130vh;
    opacity: 50%;
}

.top span{
    font-family: 'High-Tech Italic';
    color: #F05454;
}

.bottom {
    margin: 0px 200px;
    position: relative;
    top: 130px;
}

.bottom h1{
    font-family: 'High-Tech 2 Bold';
    letter-spacing: 4px;
    word-spacing: 10px;
    margin: 30px 0px 15px 0px;    
}

.bottom p{
    font-family: 'High-Tech Thin';
    font-size: 15px;
    text-align: justify;
    letter-spacing: 2px;
    margin: 12.5px 0px;
    width: 130vh;
    opacity: 50%;
}

.bottom p span{
    font-family: 'High-Tech Italic';
    color: #F05454;
}

.features-vid video{
    width: 100%;
    border: solid #4DB3BD 1px;
    box-shadow: 0px 0px 50px black;
}

.features-vid{
    width: 130vh;
    position: relative;
    span.border_btm {
        &:after {
          display: block;
          content: "";
          width: 12px;
          height: 12px;
          position: absolute;
          bottom: -8px;
          right: -12px;
          border-bottom: 2px solid white;
          border-right: 2px solid white;
        }
        &:before {
          display: block;
          content: "";
          width: 12px;
          height: 12px;
          position: absolute;
          bottom: -8px;
          left: -12px;
          border-bottom: 2px solid white;
          border-left: 2px solid white;
        }
    }
    
    &:before {
        display: block;
        content: "";
        width: 12px;
        height: 12px;
        position: absolute;
        top: -10px;
        left: -10px;
        border-top: 2px solid white;
        border-left: 2px solid white;
    }
    
    &:after {
        display: block;
        content: "";
        width: 12px;
        height: 12px;
        position: absolute;
        top: -10px;
        right: -10px;
        border-top: 2px solid white;
        border-right: 2px solid white;
    }
    
}