/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --second-color: hsl(195, 75%, 52%);
  --dark-color: hsl(212, 40%, 12%);
  --white-color: hsl(212, 4%, 95%);
  --body-color: hsl(212, 42%, 15%);
  --container-color: hsl(212, 42%, 20%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Bai Jamjuree", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: #072338;
}

a {
  text-decoration: none;
}

.card__image img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== CARD ===============*/
.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__container {
  padding-block: 5rem;
}

.card__content {
  margin-inline: 1.75rem;
  overflow: hidden;
}

.card__article {
  overflow: hidden;
  border-radius: 5px;
}

.card__image {
  position: relative;
}

.card__data {
  background-color: rgba(0, 0, 0);
  padding: 1rem 2rem;
  text-align: center;
  position: relative;
  z-index: 10;
}

.card__img {
  width: 100%;
  position: relative;
  z-index: 5;
}

.card__name {
  position: absolute;
  top: 0;
  font-size: 1.25rem;
  color: rgb(255, 255, 255);
  margin-top: -15px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

.card__description {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  position: relative;
}

/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--second-color);
  display: none;
}

.swiper-button-prev {
  color: rgba(255, 255, 255, 0.8);
  left: 0;
}

.swiper-button-next {
  right: 0;
  color: rgba(255, 255, 255, 0.8);;
}

.swiper-button-next:hover, .swiper-button-prev:hover{
  opacity: 80%;
  transition: 0.3s ease;
}

.swiper-button-next:active, .swiper-button-prev:active{
  opacity: 50%;
  transition: 0.1s;
}

.swiper-pagination-bullet {
  background-color: rgb(255, 255, 255);
  opacity: 100%;
}

.swiper-pagination-bullet-active {
  background-color: rgba(255, 255, 255, 0.3);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .card__data {
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__content {
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .card__container {
    max-width: 1120px;
  }

  .swiper-button-prev {
    left: -1rem;
  }
  .swiper-button-next {
    right: -1rem;
  }
}